.backColorOrange{
    background-color: #F7A60F;
}
.backColorBlack{
    background-color: #343A40;
}
article,.imgAcc{
    height: 440px;
}
.btSwitch{
    margin: 5px 10px;

    padding: 0;
    align-content: center;
}
#inscription{
    padding: 0px 70px 10px;
}
#connexion{
    margin-top: 60px;
    padding: 0 70px;
}

@media screen and (max-width: 768px){
    .imgT{
        display: none;
    }
}

/* Bouton enregistrer */
.InEnregistrer{
    border: #343A40 2px solid !important;
    color: #343A40 !important;
    font-weight: 500 !important;
    font-size: 105% !important;
    width: 100%;
}

.InEnregistrer:hover{
    color: #F7A60F !important;
    border: #F7A60F 2px solid !important;
    font-weight: 500 !important;
    background-color: #343A40 !important;
}

.CoEnregistrer{
    border: #F7A60F 2px solid !important;
    color: #F7A60F !important;
    font-weight: 500 !important;
    font-size: 105% !important;
    width: 100%;
}

.CoEnregistrer:hover{
    color: #343A40 !important;
    font-weight: 500 !important;
    background-color: #F7A60F !important;
}

/* .CoEnregistrer{
    width: 100%;
    border: solid 2px #F7A60F;
    border-radius: 5px;
    background-color: #343A40;
    color: #F7A60F;
    font-weight: 500 !important;
}

.CoEnregistrer:hover{
    color: white !important;
    font-weight: 500 !important;
    background-color: #F7A60F !important;
} */

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.messageInscription{
    margin-top: 10px;
    color: #343a40;
}

.messageConnexion{
    margin-top: 10px;
    color: #ffffff;
}