.backColorOrange{
    background-color: #F7A60F;
}
.backColorBlack{
    background-color: #343A40;
}
article,.imgAcc{
    height: 405px;
}
.btSwitch{
    margin: 5px 10px;

    padding: 0;
    align-content: center;
}
#inscription{
    padding: 25px 70px 50px ;
}
#connexion{
    margin-top: 60px;
    padding: 0 70px;
}

@media screen and (max-width: 768px){
    .imgT{
        display: none;
    }
}

/* Bouton enregistrer */
.InEnregistrer{
    width: 100%;
    border: solid 2px #343A40;
    border-radius: 5px;
    background-color: #F7A60F;
    color: #343A40;
    font-weight: 500 !important;
}

.CoEnregistrer{
    width: 100%;
    border: solid 2px #F7A60F;
    border-radius: 5px;
    background-color: #343A40;
    color: #F7A60F;
    font-weight: 500 !important;
}

.CoEnregistrer:hover{
    color: white !important;
    font-weight: 500 !important;
    background-color: #F7A60F !important;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}