.disNone {
    display: none;
}


/* Header */
header {
    background-color: #343A40;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
nav h1{
    margin: 0;
    color: white;
    align-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 5px;
}

nav ul a {
    margin-right: 10px;
}
.imgNav {
    width: 57px;
    height: 57px;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 530px){
    nav h1{
        font-size: 1em;
    }
    nav img{
        height: 60px;
    }
}
@media screen and (max-width: 415px){
    nav img{
        height: 50px;
    }
    .imgNav{
        width: 40px;
        height: 40px;
    }
    nav h1{
        font-size: 0.9em;
    }
}


.quizz {
    background-image: url("../img/IconeQuizBlanc.png");
}

.quizz:hover {
    background-image: url("../img/IconeQuizOrange.png");
}

.compte {
    background-image: url("../img/CompteBlanc.png");
}

.compte:hover {
    background-image: url("../img/CompteOrange.png");
}

.deco {
    background-image: url("../img/DecoBlanc.png");
}

.deco:hover {
    background-image: url("../img/DecoOrange.png");
}




/* Footer */

.linkFooter {
    a {
        font-size: 130%;
    }
}

@media (min-width: 768px) {
    .logoFooter {
        width: 20%;
    }
}

@media (max-width: 960px) {
    .linkFooter {
        a {
            font-size: 120%;
        }
    }
    .siteNameFooter {
        font-size: 140%;
    }
}

@media (max-width: 880px) {
    .linkFooter {
        a {
            font-size: 110%;
        }
    }
    .siteNameFooter {
        font-size: 130%;
    }
}
@media (min-width: 800px){
    footer{
        max-height: 100px;
    }
}
@media (max-width: 800px) {
    .linkFooter {
    flex-wrap: wrap;
    margin-left: 20px;
    }
}

@media (max-width: 660px) {
    .linkFooter {
    margin-left: 40px;
    }
}
